@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;700&family=Sora:wght@300;400;500;600;700;800&display=swap");
@tailwind base;

* {
  font-family: "Sora", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
}

*::-webkit-scrollbar-track {
  /* background-color: #d4d4d4; */
}

@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
  }
}
